<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ConferenceRoomManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>home</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- ALL SERVLET FILE -->

	<servlet>
		<servlet-name>roomBook</servlet-name>
		<servlet-class>com.ConferenceRoomManagement.Services.RoomBookingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>roomBook</servlet-name>
		<url-pattern>/roomBooking</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>showRoom</servlet-name>
		<servlet-class>com.ConferenceRoomManagement.Services.RoomCrudServlet</servlet-class>
		<load-on-startup>0</load-on-startup> 
	</servlet>
	<servlet-mapping>
		<servlet-name>showRoom</servlet-name>
		<url-pattern>/showRoom</url-pattern>
	</servlet-mapping>

	<!-- ALL JSP FILE -->
	<servlet>
		<servlet-name>homePage</servlet-name>
		<jsp-file>/views/home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>homePage</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>roomPage</servlet-name>
		<jsp-file>/views/showRoom.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>roomPage</servlet-name>
		<url-pattern>/roomPage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateRoom</servlet-name>
		<jsp-file>/views/updateRoom.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateRoom</servlet-name>
		<url-pattern>/updateRoom</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginPage</servlet-name>
		<jsp-file>/views/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginPage</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
</web-app>